<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/favicon.png">
    <link rel="stylesheet" href="main.css">
    <title>group finder</title>
</head>
<body>
    <div id="parent">
        <div id="container">
            <div id="header">
                <div>
                    <img src="tu.png" id="tu">
                </div>
            </div>
            <div id="center">
                <div id="detail">
                    <div>
                        <h1 id="title">أبحث عن قروب للمادة</h1>
                    </div>
                    <div>
                        <h5 id="afterTitle">تخصص هندسة حاسب فقط</h5>
                    </div>
                </div>
                <div id="formDiv">
                    <form action="/search" method="POST">
                        <div id="course">
                            <input placeholder="أكتب أسم المقرر" class="dInput" name="course">
                        </div>
                        <div id="division">
                            <input placeholder="أكتب رقم الشعبة" class="dInput" name="division">
                        </div>
                        <div id="submit">
                            <button type="submit" id="btnSubmit">أبحث</button>
                        </div>
                    </form>
                </div>
            </div>
            <div id="footer">
                <div>
                    <h6 id="info">الموقع مصمم من طالب ولا علاقة للجامعة بذلك</h6>
                </div>
            </div>
        </div>
        <div id="preContainer">
            <div id="circle1" class="circleD1 circle"></div>
            <div id="circle2" class="circleD2 circle"></div>
            <div id="circle3" class="circleD3 circle"></div>
            <div id="circle4" class="circleD1 circle"></div>
            <div id="circle5" class="circleD2 circle"></div>
            <div id="circle6" class="circleD3 circle"></div>
            <div id="circle6" class="circleD3 circle"></div>
            <div id="circle7" class="circleD1 circle hide"></div>
            <div id="circle8" class="circleD2 circle hide"></div>
            <div id="circle9" class="circleD3 circle hide"></div>
        </div>
    </div>
</body>
</html>